* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.people {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 40px 30px;
  justify-content: center;
  padding: 30px 35px 150px;
  overflow: auto;
  @media screen and (min-width: 1000px) {
    grid-template-columns: repeat(4, 200px);
    padding: 30px 55px 150px;
  }
}

.item {
  position: relative;
}

.person {
  border-radius: 10px;
  width: 220px;
  padding: 10px 10px 16px;
  margin: -10px -10px -16px;
  transition: transform 1s linear;

  cursor: pointer;
  &__photo {
    position: relative;
  }
  &__rank {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;

    border-radius: 100%;
    font-weight: 700;
    font-size: 16px;
    color: #8b0000;
    background-color: #fff;
  }
  &__img {
    display: block;
    width: 100%;
    border-radius: 200px;
    margin-bottom: 8px;
    transition: border-radius 1s linear;
  }
  &__name {
    display: block;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #2f4f4f;
  }
  &__extra {
    margin-top: 9px;
    text-align: center;
    display: none;
  }
  &__sport {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000;
    &::after {
      content: ",";
    }
  }
  &__pay {
    &::before {
      content: "\0024";
    }
  }

  &:hover {
    position: absolute;
    z-index: 1;

    background: #eee;
    transform: scale(1.2);
    & .person__extra {
      display: block;
    }
    & .person__img {
      border-radius: 60px;
    }
  }
}
